- content_for :main do 
  %h1.menu_icon Menus
  .dehighlight
    Menus are collections of links.  They can be internal linkes within the site or external links to other sites.  Internal links can be added to the menu from the target page itself.  The links can be reordered and the menu can be styled in various ways.
  
  %br
  = icon_to "New", "/menus/new/#{@is_system? 'system' : 'links'}"

  %ul
    - @menus.each do |menu|
      %li
        = link_to(menu.name, "/menu/#{menu.id}").html_safe + ":"
        = menu.description
