
<% content_for :main do %>
  
  <h1 class="snippets_icon">New Snippet</h1>
  <div class="cms_form">
  <%= form_for @snippet, :url=>"/admin/snippet", :method=>:post do |f| %>
  <b>Name:</b><br/>
  <%= f.text_field :name, {:style=>"width: 700px;"} %><br/><br/>
  <b>Description:</b><br/>
    <%= f.text_area :description, {:style=>"margin-top: 2px; height: 80px; width: 700px;"} %> <br/>
  <div class="advanced">
  <b>Show Editors:</b><br/>
  <%= f.check_box :show_editors %><br/>
  <div class="field_help">
    Should this snippet appear in the editor's insert list?
  </div>
  </div>

  <b>Content:</b><br/>
    <%= ace_editor('html', :snippet, :body, f) %>

    <%= gnric_submit "Save" %> or <%= icon_to "Cancel", "/admin/snippet" %>
  <% end %>
  </div>
<% end %>
