= "Welcome back, '#{current_user.display_name}'." 

%h2 Find an opponent to play...
%ul#available_games
  - Game.where(:is_live=>true).order(:name).each do |game|
    %li
      = link_to_function game.name, "show_opponents(#{game.id}, '#{game.name}');"

