- content_for :page_scripts do
  function initialize() {
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(55,0);
  geocoder.geocode({'address':'#{location}'},function(results,status) {
  latlng = results[0].geometry.location;
  var options = {zoom: 14, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP};
  var map = new google.maps.Map(document.getElementById("map"), options);
  var marker = new google.maps.Marker({
  position: latlng,
  map: map,
  title:"#{title}"
  });
  });
  }

  $(document).ready(function() {
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.googleapis.com/maps/api/js?key=#{Preference.getCached(_sid, 'google_api_browser_key')}&sensor=false&callback=initialize";
  document.body.appendChild(script);
  });

#map(style="height: #{height}px; width: #{width}px;")
