= form_for :search, :method=>:get do |f|
  = hidden_field_tag "target_field", params[:target_field]
  - if params[:files]
    = hidden_field_tag "files", "1"
  = f.text_field :search
  = gnric_submit "Search", :class=>"action"
  = icon_to "Upload Images", "/assets"
  = icon_to_function "Done Adding", "$('#add').slideUp(); $('#add_link').show();"
  
= paginate @images, :params=>{:paging=>1}

%table
  %tr
    %th Image
    %th Filename

  - @images.each do |image|
    %tr
      %td
        = image_tag image.url(:thumb)
      %td(id='file_name_#{image.id}')
        = link_to_function image.file_file_name, "add_image_to_gallery(#{image.id}, #{@gallery.id});", :style=>"margin-right: 10px;"


