- content_for :main do 

  %h1.gallery_icon Galleries

  = icon_to_function "Create", "$('#create').slideDown();"

  #create(style="display: none;" class="cms_form")
    = form_for [:admin, @gallery] do |f|
      %label(for="gallery_name")
        Name:
      = f.text_field :name
      = kit_submit "Create"

  %table(style="margin-top: 20px;")
    - @galleries.each do |gallery|
      %tr
        %td
          = link_to gallery.name, "/admin/gallery/#{gallery.id}"

