#user_profile
  %h1 Your Profile

  - if @errors
    %ul.profile_errors
      - @errors.each do |id, err|
        %li
          = err[:message]
  - else
    - @errors = {}

  %ul.attributes(style="margin-top: 10px;" )
    - one_editable = false
    = form_tag "/user/profile", { :multipart => true, :method=>:post } do 
      - UserAttribute.sys(_sid).order(:order_by).where("owner_visible = 1 or owner_editable = 1").each do |attr|
        - uav = current_user.user_attribute_values.where(:user_attribute_id=>attr.id).first || UserAttributeValue.new(:user_attribute=>attr)
        %li(style="margin-bottom: 10px;" id="profile_field_#{attr.id}" class="#{attr.code_name}")
          %label(style="margin-right: 20px;")
            = attr.name
          - if attr.owner_editable == 1 
            = image_tag uav.asset.url(:large) if uav.asset_file_name
            = render :partial=>"form/form_field", :locals=>{:type=>attr.form_field_type, :field=>attr, :value=>params["field_#{uav.user_attribute.id}"] || uav.value, :is_mandatory=>attr.is_mandatory?, :has_error=>@errors[attr.id], :show_options_editor=>false}
            - if attr.description.not_blank?
              %div(class="field_description")
                = attr.description

            - one_editable = true
          - else
            = uav.value
      - if one_editable
        %li.submit
          = submit_tag "Update"

