- ptt = @page_template_term
.cms_form
  = form_for ptt, :url=>"/admin/page_template_terms#{ptt.id==0 ? '' : ('/'+ptt.id.to_s)}" do |f|
    = f.error_messages
    = f.hidden_field :page_template_id
    %p
      = f.label :name
      %br
      = f.text_field :name

    %p
      = f.label :form_field_type_id
      %br
      = f.select :form_field_type_id, options_from_collection_for_select(FormFieldType.sys(_sid).order(:name).where(:has_asset=>0), :id, :long_name, ptt.form_field_type_id)

    %p
      = f.label "Allow multiple entries"
      = f.check_box :can_repeat
    %p
      = kit_submit "Save"
