.cms_form
  = form_for [:admin, @view] do |f|
    = f.error_messages
    %p
      = f.label :name
      = f.text_field :name

    %p
      = f.label :template_type
      = f.select :template_type, options_for_select(["haml", "erb"], @view.template_type)

    %p
      = f.label :body
      = cm_editor("html", :view, :body, f, nil, :height=>"400px")

    %p
      = f.label :header
      = cm_editor("html", :view, :header, f, nil, :height=>"120px")
      .field_help
        Optional

    %p
      = f.label :footer
      = cm_editor("html", :view, :footer, f, nil, :height=>"120px")
      .field_help
        Optional

    %p
      = f.label :where_clause
      = f.text_area :where_clause
      .field_help
        May include references to "pages." and "terms.".  Terms is a left join.

    %p
      = f.label :order_by
      = f.text_field :order_by
      .field_help
        May include references to "pages." and "terms.".  Terms is a left join.

    %p
      = f.label :per_page
      = f.text_field :per_page

    %p
      = f.label :page_template
      = f.select :page_template_id, options_from_collection_for_select(PageTemplate.sys(_sid).order(:is_default).all, :id, :name, @view.page_template_id)
      .field_help 
        Only used if filtering by terms. Does not affect rendering.


    %p 
      = f.label :layout_id
      = f.select :layout_id, options_from_collection_for_select(Layout.sys(_sid).order(:name).all, :id, :name, @view.layout_id)
      .field_help
        Only used if rendering this view as a whole page.  Not used if rendering the view in another page

    %p
      = kit_submit "Save"
