	<%= form_for(@asset, :url=>"/assets?mode=#{@mode}", :html => { :id=>"uploadform", :method=>:post, :multipart => true }) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<ul id="image_upload">
	 	<li >Name: <%= f.text_field :name %></li>
	 	<li >Filename: <%= f.text_field :file_name %></li>
		<li >Tags: <%= f.text_field :tags %></li>
		<li ><%= f.file_field :file %></li>
	</ul>
	  <div class="actions">
	    <%= f.submit "Upload" %> or <%=link_to_function "Cancel", "$('#upload').dialog('close');"%>
	  </div>
	<% end %>



